<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <%- styles %>
    <%- styledComponents %>

    <title>PracticeLit🔥</title>
</head>
<body>
    <style>
        body {
            font-family: sans-serif;
            background-color: #272822;
            width: 100%;
            margin: 0;
            padding: 0;
        }
    </style>

<div id="react-root"><%- appString %></div>

<%- cssHash %>
<%- js %>
</body>
</html>